* {
  font-family: "Nunito Sans";
}
body .main {
  font-family: "Nunito Sans";
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 10rem;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 15rem;
}
nav .darkMode-button {
  height: min-content;
}
.item-container {
  display: grid;
  margin: 0rem 4rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.item-container .item {
  height: 100%;
}
.item-container .item p {
  padding-left: 2rem;
}
.item-container .item img {
  width: 100%;
  height: auto;
}
.item-container .item .title {
  font-size: 26px;
  font-weight: bolder;
}
