body .main {
  font-family: "Nunito Sans";
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 15rem;
}
.item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.item-container .item {
  background-color: palegreen;
  height: 100%;
}
.item-container .item p {
  padding-left: 1rem;
}
.item-container .item img {
  width: 100%;

  height: auto;
}
